@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.container {
  width: 100vw;
  height: 12.5vh;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgb(20, 20, 31);
  // background-color: rgba(52, 52, 54, 1);
  // background-color: rgba(16,16,24,1);
  transition: "all .5s ease";

  .leftContainer {
    display: flex;
    align-items: center;
    font-size: 21.056px;
    font-weight: 700;
    // letter-spacing: -0.159px;
    .smallContent {
      font-weight: 300;
    }
  }
}
.blackColor {
  color: #1e1e1e;
}
.whiteColor {
  color: #ffffff;
}

.maincontainer {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.midContainer {
  display: flex;
  width: 45%;
  margin-left: 1%;
  justify-content: space-evenly;
}
.midContainer div:hover {
  color: #07d2fb;
  cursor: pointer;
}
.servicesHover {
  color: #07d2fb;
}
.rightContainer {
  width: 24%;
  display: flex;
  justify-content: space-evenly;
}
